# dependencies
node_modules/

# IDE
/.idea
/.awcache
/.vscode

# misc
.DS_Store
npm-debug.log
yarn-error.log

# example

# tests
coverage/

# env
.env.dev

# log
log/*.log

# docker
/Dockerfile
/docker-compose.yml
